<div class="search-container">
    <h2>Search Contract</h2>
    <input type="text" [(ngModel)]="keywords" placeholder="Enter keywords"
      class="search-input"
    />
    <button (click)="onSearch()">Search</button>
  
    <div *ngIf="searchResult">
      <h3>Search Results</h3>
      <div *ngIf="searchResult.content.length === 0">No results found.</div>
      <ul>
        <li *ngFor="let result of searchResult.content">
          <h4>{{ result.title }}</h4>
          <p *ngFor="let highlight of result.highlight" [innerHTML]="highlight"></p>
          <a [href]="result.downloadUrl" download>Download</a>
        </li>
      </ul>
      <nav *ngIf="totalPages > 1">
        <ul class="pagination">
          <li class="page-item" [class.disabled]="currentPage === 0">
            <a class="page-link" (click)="onPageChange(currentPage - 1)">Previous</a>
          </li>
          <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="i === currentPage">
            <a class="page-link" (click)="onPageChange(i)">{{ i + 1 }}</a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
            <a class="page-link" (click)="onPageChange(currentPage + 1)">Next</a>
          </li>
        </ul>
      </nav>
    </div>
</div>
<div class="search-container">
    <h2>Search Law</h2>
    <input type="text" [(ngModel)]="keywordsLaw" placeholder="Enter keywords"
      class="search-input"
    />
    <button (click)="onSearchLaw()">Search</button>
  
    <div *ngIf="searchResult1">
      <h3>Search Results</h3>
      <div *ngIf="searchResult1.content.length === 0">No results found.</div>
      <ul>
        <li *ngFor="let result of searchResult1.content">
          <h4>{{ result.title }}</h4>
          <p *ngFor="let highlight of result.highlight" [innerHTML]="highlight"></p>
          <a [href]="result.downloadUrl" download>Download</a>
        </li>
      </ul>
      <nav *ngIf="totalPages > 1">
        <ul class="pagination">
          <li class="page-item" [class.disabled]="currentPage === 0">
            <a class="page-link" (click)="onPageChange1(currentPage - 1)">Previous</a>
          </li>
          <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="i === currentPage">
            <a class="page-link" (click)="onPageChange1(i)">{{ i + 1 }}</a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
            <a class="page-link" (click)="onPageChange1(currentPage + 1)">Next</a>
          </li>
        </ul>
      </nav>
    </div>
</div>
