<mat-toolbar class="app-navbar" color="warn">
    <div>
        <div fxLayout="row">
          <button mat-button mat-ripple routerLink="/register-user">
            <span>Register</span>
          </button>
          <!--<button *ngIf="!isLoggedIn" mat-button mat-ripple routerLink="/login">
            <span>Login</span>
          </button>-->
          <!--<button *ngIf="isLoggedIn" mat-button mat-ripple (click)="logout()">
            <span>Logout</span>
          </button>-->
        </div>
    </div>
 </mat-toolbar>
